html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #e3f2fd;
}

.container {
  flex: 1;
}

footer {
  background-color: #ade8f4;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

footer .f-info-socials i {
  margin: 0 10px;
  font-size: 24px;
}

footer .f-info-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: #ade8f4;
}

.main {
  flex: 1;
}

.fa-earth-asia {
  color: #0d47a1;
  font-size: 2rem;
}

.nav-link {
  color: #0d47a1 !important;
}

/* Footer */

.f-info {
  max-width: 1500;
  margin: auto;
  height: 8rem;
  background-color: #ade8f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important ;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* card effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #e3f2fd;
}

.add-btn {
  background-color: #0d47a1 !important;
  border: none !important;
}

/* edit button */

.edit-btn {
  background-color: #0d47a1 !important;
  border: none !important;
}

/* show page */

.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* map */

#map {
  height: 400px;
  width: 80vh;
}
